section.minklass 
    h1 Välkommen grabben #{@banandata}

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus doloribus quisquam veritatis soluta laboriosam autem explicabo vel temporibus, eum quasi quis nisi laudantium consequatur aliquid!
   
