h2 😘🙌🥱Uppdatera frukten🤑🤑🤑

form action="/fruitser/#{@special_frukt["id"]}/update" method="post" 
    input text="text" name="name" value="#{@special_frukt["name"]}"
    input type="number" name="amount" value="#{@special_frukt["amount"]}"
    input type="submit" value="🥱uppdatera"